name: Laravel CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: mbstring, pdo_mysql
          coverage: none

      - name: Instalar dependencias de Composer
        run: composer install --no-progress --prefer-dist --no-interaction

      - name: Copiar archivo .env
        run: cp .env.example .env

      - name: Generar key de Laravel
        run: php artisan key:generate

      - name: Ejecutar Migraciones (Base en memoria)
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: ":memory:"
        run: php artisan migrate --force

      - name: Ejecutar tests de PHPUnit
        run: php artisan test

      - name: Ejecutar Larastan (PHPStan)
        run: vendor/bin/phpstan analyse --memory-limit=2G


  build-and-publish:
    needs: laravel-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Login en GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Construir imagen Docker
        run: |
          docker build -t $REGISTRY/${{ github.repository }}:latest .

      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
          wget https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh
          chmod +x install.sh
          sudo ./install.sh

      - name: Scan image with Trivy
        run: trivy image $REGISTRY/$IMAGE_NAME:latest


      - name: Publicar imagen a GHCR
        run: |
          docker push $REGISTRY/${{ github.repository }}:latest
